

body {
    background:
            radial-gradient(ellipse farthest-corner at right bottom, #fedb37 0%, #FDB931 8%, #9f7928 30%, #8a6e2f 40%, transparent 80%),
            radial-gradient(ellipse farthest-corner at left top, #ffffff 0%, #ffffac 8%, #d1b464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    height: 100vh;
}
.line-through{
    text-decoration: line-through;
}

.text-underline{
    text-decoration: underline;
}
.text-italic{
    font-style: italic;
}
.text-bold{
    font-weight: bold;
}

.active{
    background-color: red !important;
}
.edit-title{
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.btn{
    width: 80px;
}
.form-group{
    color: #000000;
}